
{% load static %}
<html>
<head>
    <title>HackED20 Website</title>
    <link href="{% static 'dashboard/a_style.css' %}" rel="stylesheet" type="text/css">
</head> 
<body>
    <header>
        
    <div class="row">
        <div class="logo">
        <img src="{% static 'dashboard/logo.png'%}"
        </div>
            
    <ul class="main-nav">    
        <li><a href="index"> HOME </a></li>
        <li><a href="dashboard"> DASHBOARD </a></li>
        <li><a href="layout"> LAYOUT </a></li>
        <li class="active"><a href="about"> ABOUT </a></li>
        <li><a href="contact"> CONTACT </a></li>
        <li><a href="account"> ACCOUNT </a></li>
        <li><a href="settings"> SETTINGS </a></li>
        <li class="active"><a href="signup" class="signup-btn"> SIGN UP  </a></li>
    </ul>    
    </div>
        
    <div class="hero">
    <h2><u>About Us</u></h2>
    <p1></p1>
    </div>
    </header>
</body>    
</html>
