<!DOCTYPE html>
<html lang = "en" dir = "ltr">
    <head>
        <meta charset =  "utf-8">
        <title></title>
        <link rel = "stylesheet" href = "{% static "dashboard/c_style.css" %}">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    </head>
    <body>

        <div class = "contact-section">

            <h1>Contact Us</h1>
            <div class = "border"></div>
            <form class = "contact-form" action = "Contact.html" method = "post">
                <input type="text" class="contact-form-text" placeholder = "Your Name">
                <input type="text" class="contact-form-text" placeholder = "Email">
                <textarea class="contact-form-text" placeholder = "Your Message"></textarea>
                <input type="submit" class="contact-form-btn">
            </form>

        </div>
    </body>
</html>